extends layouts/main

block content
    h1 Hello, world!

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, culpa?

    ol
        li Lorem ipsum 1
        li Lorem ipsum 2
        li Lorem ipsum 3
        li Lorem ipsum 4